# Generated Python cache
__pycache__/

# File containing directory attributes for the containing folder on Mac
.DS_Store

# Python venv dirs
/env/
/venv/

# Build directory - stuff we download/generate goes here
/build/

# Outputs
/outputs/

# External repositories
/external/

# Phoenix configurations - downloaded
/patches/gecko-overlay/ironfox/prefs/000-phoenix.js
/patches/gecko-overlay/ironfox/prefs/001-phoenix-extended.js

# Environment variables for local builds
/env_override.sh
/scripts/env_build.sh
/scripts/env_local.sh
/scripts/env_target.sh

# mozconfig for local builds
/overrides.mozconfig

# VSCod(e/ium)
*.code-workspace
/.vscode/

# WIP
/wip/
